@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  scroll-behavior: smooth;
}

.stroke-text {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.swiper-pagination-bullet-active {
  background-color: #FF7043 !important;
}